@import 'variables.css';
@import 'async-container-styles.css';

vaadin-combo-box::part(toggle-button){
    /*color: red;*/
}

vaadin-combo-box::part(toggle-button)::before {
    content: var(--lumo-icons-menu);
}