html {
    --lumo-primary-text-color: rgb(0, 132, 255);
    --lumo-primary-color-50pct: rgba(0, 132, 255, 0.5);
    --lumo-primary-color-10pct: rgba(0, 132, 255, 0.1);
    --lumo-primary-color: #0084ff;
    --lumo-header-text-color: hsl(214, 0%, 0%);
    --lumo-shade-5pct: rgba(18, 42, 73, 0.05);
    --lumo-shade-10pct: rgba(18, 42, 73, 0.1);
    --lumo-shade-20pct: rgba(18, 42, 73, 0.2);
    --lumo-shade-30pct: rgba(18, 42, 73, 0.3);
    --lumo-shade-40pct: rgba(18, 42, 73, 0.4);
    --lumo-shade-50pct: rgba(18, 42, 73, 0.5);
    --lumo-shade-60pct: rgba(18, 42, 73, 0.6);
    --lumo-shade-70pct: rgba(18, 42, 73, 0.7);
    --lumo-shade-80pct: rgba(18, 42, 73, 0.8);
    --lumo-shade-90pct: rgba(18, 42, 73, 0.9);
    --lumo-shade: hsl(214, 60%, 18%);
}

[theme~="dark"] {
    --lumo-shade-5pct: rgba(0, 0, 0, 0.05);
    --lumo-shade-10pct: rgba(0, 0, 0, 0.1);
    --lumo-shade-20pct: rgba(0, 0, 0, 0.2);
    --lumo-shade-30pct: rgba(0, 0, 0, 0.3);
    --lumo-shade-40pct: rgba(0, 0, 0, 0.4);
    --lumo-shade-50pct: rgba(0, 0, 0, 0.5);
    --lumo-shade-60pct: rgba(0, 0, 0, 0.6);
    --lumo-shade-70pct: rgba(0, 0, 0, 0.7);
    --lumo-shade-80pct: rgba(0, 0, 0, 0.8);
    --lumo-shade-90pct: rgba(0, 0, 0, 0.9);
    --lumo-primary-text-color: rgb(0, 162, 255);
    --lumo-primary-color-50pct: rgba(0, 162, 255, 0.5);
    --lumo-primary-color-10pct: rgba(0, 162, 255, 0.1);
    --lumo-error-text-color: rgb(214, 0, 4);
    --lumo-error-color-50pct: rgba(214, 0, 4, 0.5);
    --lumo-error-color-10pct: rgba(214, 0, 4, 0.1);
    --lumo-success-text-color: rgb(0, 204, 37);
    --lumo-success-color-50pct: rgba(0, 204, 37, 0.5);
    --lumo-success-color-10pct: rgba(0, 204, 37, 0.1);
    --lumo-shade: #000000ff;
    --lumo-primary-color: #00a2ff;
    --lumo-error-color: #d60004;
    --lumo-success-color: #00cc25;
    --lumo-success-contrast-color: #f9f7f0;
    --lumo-tint-5pct: rgba(255, 250, 250, 0.05);
    --lumo-tint-10pct: rgba(255, 250, 250, 0.1);
    --lumo-tint-20pct: rgba(255, 250, 250, 0.2);
    --lumo-tint-30pct: rgba(255, 250, 250, 0.3);
    --lumo-tint-40pct: rgba(255, 250, 250, 0.4);
    --lumo-tint-50pct: rgba(255, 250, 250, 0.5);
    --lumo-tint-60pct: rgba(255, 250, 250, 0.6);
    --lumo-tint-70pct: rgba(255, 250, 250, 0.7);
    --lumo-tint-80pct: rgba(255, 250, 250, 0.8);
    --lumo-tint-90pct: rgba(255, 250, 250, 0.9);
    --lumo-base-color: #121212;
    --lumo-tint: #fffafa;
    --lumo-primary-contrast-color: #ffffff;
    --lumo-error-contrast-color: #fffcf5;
    --lumo-header-text-color: #f2f2f2;
}