:has(.image-preview) {
    container: preview / inline-size;
}

.image-preview {
    display: flex;
    flex-direction: column-reverse;
    width: 20em;
    height: 15em;
    gap: var(--lumo-space-s);
}

.image-preview img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.main-image-layout {
    display: flex;
    flex-direction: row;
    flex: 1 1 75%;
    position: relative;
}

.image-preview img.main-image {
    overflow: hidden;
    border: 1px solid var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-m);
    flex: 1;
}

.previous-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.previous-button {
    left: var(--lumo-space-s);
}
.next-button {
    right: var(--lumo-space-s);
}

.item-layout {
    display: flex;
    flex: 0 0 25%;
    flex-direction: row;
    gap: var(--lumo-space-s);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
}

.item-layout::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.add-button {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.item-layout > * {
    border: 1px solid var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-m);
    aspect-ratio: 16 / 9;
    scroll-snap-align: start;
    height: 100%;
    margin: 0;
    outline: 1px solid var(--lumo-contrast-10pct);
    outline-offset: -1px;
    transition:
            outline-width 200ms ease-in-out,
            outline-color 200ms ease-in-out;
}
.item-layout > *[selected] {
    outline-color: var(--lumo-primary-color);
    outline-offset: -4px;
    outline-width: 4px;
}
.item-layout > *:hover,
.item-layout > *:focus {
    outline-color: var(--lumo-primary-color);
    outline-offset: -4px;
    outline-width: 4px;
}

@container preview (width > 600px) {
    .image-preview {
        flex-direction: row;
    }

    .image-preview img.main-image {
        width: initial;
        height: 100%;
    }

    .item-layout {
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .item-layout > * {
        height: auto;
        /*height: var(--lumo-space-m);*/
    }
}