* {
    /** Firefox **/
    scrollbar-color: var(--lumo-primary-color) var(--lumo-contrast-10pct);
    scrollbar-width: thin;
}

html {
    --scrollbar-size: var(--lumo-space-l);
    --scrollbar-padding-size: calc(calc(var(--scrollbar-size) - 5px) / 2);
    --scrollbar-border-radius: 7px;
}

::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
    background-color: var(--lumo-contrast-5pct);
    background-clip: padding-box;
    border-radius: var(--scrollbar-border-radius);
}
::-webkit-scrollbar-track:vertical {
    border-inline: var(--scrollbar-padding-size) solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track:horizontal {
    border-block: var(--scrollbar-padding-size) solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
    background-color: var(--lumo-contrast-10pct);
}

::-webkit-scrollbar-thumb {
    background-color: var(--lumo-primary-color-50pct);
    background-clip: padding-box;
    border-radius: var(--scrollbar-border-radius);
}
::-webkit-scrollbar-thumb:vertical {
    border-inline: var(--scrollbar-padding-size) solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:horizontal {
    border-block: var(--scrollbar-padding-size) solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background-color: var(--lumo-primary-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--lumo-base-color);
}
