.sidebar[theme~="box"] {
    border-radius: var(--lumo-border-radius-l);
    margin: var(--lumo-space-m);
    border: 1px solid var(--lumo-contrast-10pct);
}

.sidebar[theme~="contrast"]:not([side~="left"][side~="right"]) {
    background: var(--lumo-contrast-5pct);
    /*border-radius: var(--lumo-border-radius-l);*/
    /*margin: var(--lumo-space-m);*/
    border-right: 1px solid var(--lumo-contrast-10pct);
}
.sidebar[theme~="contrast"][side~="left"] {
    background: var(--lumo-contrast-5pct);
    /*border-radius: var(--lumo-border-radius-l);*/
    /*margin: var(--lumo-space-m);*/
    border-right: 1px solid var(--lumo-contrast-10pct);
}
.sidebar[theme~="contrast"][side~="right"] {
    background: var(--lumo-contrast-5pct);
    /*border-radius: var(--lumo-border-radius-l);*/
    /*margin: var(--lumo-space-m);*/
    border-left: 1px solid var(--lumo-contrast-10pct);
}