.configurable-toolbar {
    /*background: var(--lumo-contrast-5pct);*/
    /*border-radius: var(--lumo-border-radius-l);*/
    /*margin: var(--lumo-space-m);*/
    /*border: 1px solid var(--lumo-contrast-10pct);*/
}