/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

/* Extra small devices (phones, etc.) */
@media only screen and (max-width: 575px) {
    .hide-xs {
        /*display: none;*/
        background-color: red;
    }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .hide-s {
        display: none;
        /*background-color: orange;*/
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .hide-m {
        display: none;
        /*background-color: yellow;*/
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .hide-l {
        display: none;
        /*background-color: green;*/
    }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1280px) {
    .hide-xl {
        display: none;
        /*background-color: blue;*/
    }
}
