/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hide-xs {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .hide-s {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    .hide-m {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
    .hide-l {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hide-xl {
        display: none;
    }
}
