.section-layout {
}

.section-layout-title {
}

.section-layout-section {
}

.section-layout section {
    /*background-color: var(--lumo-contrast-5pct);*/
    /*padding: var(--lumo-space-m);*/
    /*border-radius: var(--lumo-border-radius-m);*/
    /*border: 1px solid var(--lumo-contrast-10pct);*/
}