.toolbar {
    /*background: var(--lumo-contrast-5pct);*/
    /*border-radius: var(--lumo-border-radius-l);*/
    /*margin: var(--lumo-space-m);*/
    /*border: 1px solid var(--lumo-contrast-10pct);*/
}

.toolbar[theme~="contrast"] {
    background: var(--lumo-contrast-5pct);
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}
.toolbar[theme~="border-bottom"] {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}
